<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应dao-->
<mapper namespace="wg.application.beichengamble.mapper.GambleMapper">

    <select id="selectForCardNo">

        select card_no from liushui group by card_no;

    </select>

    <select id="selectForDuiShouCardNo">

        select dui_shou_zhang_hao from liushui group by dui_shou_zhang_hao;

    </select>


</mapper>